/* ..................................................................................................... */
/* ALTO CONTRASTE */

.contrast .icones a {
    filter: none;
}

.contrast .icones a:hover {
    filter: grayscale(100%) !important;
}

.contrast,
.contrast nav,
.contrast div,
.contrast header,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast article {
    background: black !important;
    color: white !important;
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast u,
.contrast span {
    color: white !important;
}

.contrast a {
    color: yellow !important;
}

.contrast i {
    color: yellow !important;
}

.contrast .btn-lg {
    background: black !important;
    color: yellow !important;
    box-shadow: 0 4px 0 yellow !important;
}

.contrast .btn-lg:hover {
    color: white !important;
    box-shadow: 0 4px 0 white !important;
}

.contrast ::selection {
    background-color: yellow;
    color: black;
}

.contrast .fa-arrow-up {
    color: black !important;
}

.contrast .to-the-top {
    background: yellow;
}

.contrast hr {
    border-top: 4px solid yellow !important; 
}

.contrast input[type=text],
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast input[type=number] {
    background: black !important;
    border: 1px solid white !important;
    color: white !important;
}

.contrast img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
    filter: brightness(0) invert(1);
}

.contrast a:link:hover {
    color: #ff0000 !important;
}

.contrast .card {
    border-color: yellow !important;
    border-radius: 0;
}

.contrast .notification {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 18rem;
    height: 8rem;
    border-radius: 1rem;
    background-color: black;
    border: 2px solid yellow;
    color: yellow;
    --gradient: linear-gradient(to top, yellow, rgb(182, 182, 4), rgb(124, 124, 3));
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}

.contrast .notification:before {
    content: "";
    position: absolute;
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: black;
    z-index: 2;
}

.contrast .notititle {
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 600;
    font-size: 1.4rem;
}

.contrast .notibody {
    padding: 0 1.25rem;
    font-size: 0.9rem;
}

.contrast .note {
    color: yellow;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
    width: 75%;
}

.contrast .card-2 {
    margin-left: 20px;
}

